<html>
   <body>
    <H1><%= title %></H1>
    <H1><%= description %></H1>
      <table>
      <tr><th>Showing <%= c.length %> Restaurant(s)</th></tr>
      
      <% for (var i = 0; i < c.length; i++) { %>
        <tr>
          <td><%= c[i].name %></td>
        </tr>
      <% } %>
    </table>
   <a href="/create">Create restaurant</a><br></br>
   <a href="/logout">Logout</a>
   </body>
</html>
