<html>
<body>
	<form action="/upload" method="post">
		<p>Upload a Photo</p>
             	<input type="text" name="title">
                <input type="text" name="description" >
                <input type="submit" value="Upload">
        </form>
</body>
</html>
