<html>
<body>
	<form action="/upload" method="post" enctype="multipart/form-data">
    		Upload a Photo
		Title: <input type="text" name="title"><br>
		Description: <input type="text" name="Description"><br>
    		Photo: <input type="file" name="image"><br>
		<input type="submit" value="Upload">
	</form>
</body>
</html>
